
.result-table thead{
    background-color: #f2f2f2;
}

.result-table, .result-table th, .result-table td  {
    border: 1px solid #4472c4;
}

.result-table tr:nth-child(even) {
    background-color: #d5deef;
}

.keys-table, .keys-table th, .keys-table td  {
    border: 1px solid #000;
    padding: 5px 15px;
    font-size: 10px;
}
